<div class="card-body">
    <h4 class="card-title">Default form</h4>
    <form class="forms-sample" action="/staff/updatecourse" method="post">
      <div class="form-group"  style =" display: none;">
        <label for="exampleInputUsername1">ID</label>
        <input type="number" class="form-control" id="exampleInputUsername1"  name="id" value="<%= courses.id %>"
        readonly
        >
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Sourse category</label>
        <select  name = "coursecategoryid" style="color: #f7f5f5" class="form-control" id="exampleFormControlSelect1">
          
            <option  value="<%= courses.coursecategoryid%>"><%= courses.course_catelory.name%></option>
        
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputUsername1">Name</label>
        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Name" 
        name="name"
        value="<%= courses.name %>" 
        >
      </div>
  
      <div class="form-group">
        <label for="exampleInputUsername1">Description</label>
        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Description"
         name="description"
         value="<%= courses.description %>" 

         >
      </div>
      <button type="submit" class="btn btn-primary mr-2">Submit</button>
    </form>
  </div>